
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.container{
	max-width:1200px;
	padding: 0 15px;
	margin: 0 auto;
}

body {
	
	background: #FFF9F9;
}



.logo	{
	margin-top: 32px;
}

.ira_text {
	font-family: lobster;
	font-size: 20px;
	margin-top: 146px;
	margin-left: 274px;
	line-height: 25px;
	color: #000;
}

.olya_text {
	font-family: lobster;
	font-size: 20px;
	margin-left: 478px;
	line-height: 25px;
	color: #000;
}
.name1 {
	font-family: lobster;
	font-size: 24px;
	margin-left: 82px;
}

.info-ira {
	font-family: roboto;
	font-size: 20px;
	margin-top: 9px;
	width: 210px;
	text-align: left;

}
.ira-img {
	margin-top: -220px;
	margin-left: 238px;
}

.offer{
	margin-left: 428px;
	font-family: lobster;
	font-size: 36px;
	color: #5E3823;
	height: 270.7891540527344px;
    width: 312.284912109375px;
    left: 643.8575439453125px;
    top: 202px;
    border-radius: nullpx;
	margin-top: -300px;
	
}

.olya-img {
	margin-top: -300px;
	margin-left: 799px;
}

.name2 {
	font-family: lobster;
	font-size: 24px;
	height: 33.21084976196289px;
    width: 46.093788146972656px;
    margin-left: 1023px;
    margin-top: -340px;
}

.info-olya {
	font-family: roboto;
	font-size: 20px;
	text-align: left;
	height: 280.70526123046875px;
    width: 210px;
    left: 1190.0184326171875px;
    top: 209.60543823242188px;
    border-radius: nullpx;
    margin-left: 974px;

}