/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	font-family: Roboto;
	font-weight: 500;
	background: #3E3E3E;
}

------------------------------------------------------------------

.page__offer {}
.offer {}
.offer__container {}
._container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
}
.offer__header {}
.header_block {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.header_block__title {
	font-family: lobster;
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
	color: #FFBF2D;
	padding-bottom: 10px;
}
.header_block__subtitle {
	max-width: 463px;
	font-size: 28px;
	line-height: 33px;
	color: #fff;
}
---------------------------------------------------------------------------

.page {}
.row {}
.row__container {
	display: flex;
	flex-wrap: wrap;
}
.iphone {}
._iphone {
	background-color:#F5F5F5;
	max-width: 370px;
	margin-top: 50px;
	border: 5px solid #000000;
	box-sizing: border-box;
	border-radius: 45px;
	padding: 20px;
	flex: 0 0;
}
.iphone__container {}
.iphone__header {}
.header_iphone {
	display: flex;
}
.header_iphone__insta {}
.header_iphone__plus {
	margin-left: 100px;
	padding-right: 20px;
}
.header_iphone__direct {}
.instagram__container {
	margin-top: 25px;
	display: flex;
	justify-content: center;
}
.instagram__avatar {}
.olya {
	border: 2px solid #FF4EB8;
	box-sizing: border-box;
	border-radius: 100px;
}
.olya:hover	{
	border: 3px solid #FF4EB8
}
.ira {
	margin-left: 50px;
	border: 2px solid #FF4EB8;
	box-sizing: border-box;
	border-radius: 100px;
}
.ira:hover	{
	border: 3px solid #FF4EB8
}
.iphone__body {}
.body_iphone {}
.body__content {
	background: #fff;
	border-radius: 45px;
	margin-top: 20px;
	padding: 20px 10px;
}
.body__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	padding: 10px 0px;
}
.body__check {
	display: flex;
	justify-items: center;
}
.check {}
.body__check_text {
	text-align: center;
	font-weight: 500;
	font-size: 17px;
	line-height: 14px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 45px;
	padding: 20px;
	margin-left: 15px;
	margin-bottom: 5px;
}
.body__footer {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}
.body_like {}
.body_like_text {
	padding-left: -215px;
	font-weight: 500;
	font-size: 28px;
	line-height: 32px;
}
.body_save {}

-------------------------------------------------------------------------------------------

.page__text-content {}
.text-content {
	margin-top: 80px;
	max-width: 750px;
}
.text-content__info {
	font-size: 25px;
	color: #fff;
	line-height: 35px;
	padding-left: 40px;

}
.text-content__question {
	margin-top: 70px;
	padding-left: 40px;
	font-weight: 700;
	font-size: 25px;
	line-height: 35px;
	color: #fff;
}
.text-content__telega {
	margin-top: 70px;
	display: flex;

}
.telega {
	padding-left: 150px;
}
.telega__bot {
	font-family: lobster;
	font-size: 36px;
	line-height: 45px;
	background: #FFBF2D;
	border: 3px solid #000000;
	box-sizing: border-box;
	border-radius: 45px;
	margin-left: 30px;
	color: inherit;
	padding: 10px;
}
@media (max-width: 1210px) {
	.text-content {
	margin-top: 80px;
	max-width: 500px;
}
	.text-content__info {
	font-size: 20px;
	color: #fff;
	line-height: 25px;
	max-width: 500px;
}
	.text-content__question {
	margin-top: 50px;

	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
}
	.telega {
	padding-left: 50px;
}

}

@media (max-width: 965px) {
	.text-content {
	margin-top: 80px;
	max-width: 300px;
}
	.text-content__info {
	font-size: 18px;
	color: #fff;
	line-height: 20px;
}
	.text-content__question {
	margin-top: 50px;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
}
	.telega__bot {
	font-family: lobster;
	font-size: 15px;
	line-height: px;
	background: #FFBF2D;
	border: 3px solid #000000;
	box-sizing: border-box;
	border-radius: 45px;
	margin-left: 20px;
	color: inherit;
	padding: 5px;
}
@media (max-width: 765px) {
	.text-content {
	margin-top: 80px;
	max-width: 750px;
}
	.text-content__info {
	font-size: 18px;
	color: #fff;
	line-height: 20px;
}
	.text-content__question {
	margin-top: 50px;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
}
	.telega__bot {
	font-family: lobster;
	font-size: 36px;
	line-height: 45px;
	background: #FFBF2D;
	border: 3px solid #000000;
	box-sizing: border-box;
	border-radius: 45px;
	margin-left: 30px;
	color: inherit;
	padding: 10px;
}
@media (max-width: 474px) {
	.telega__bot {
	font-family: lobster;
	font-size: 25px;
	line-height: 45px;
	background: #FFBF2D;
	border: 3px solid #000000;
	box-sizing: border-box;
	border-radius: 45px;
	margin-left: 30px;
	color: inherit;
	padding: 10px;
}
@media (max-width: 404px) {
	.telega__bot {
	font-family: lobster;
	font-size: 20px;
	line-height: 45px;
	background: #FFBF2D;
	border: 3px solid #000000;
	box-sizing: border-box;
	border-radius: 45px;
	margin-left: 30px;
	color: inherit;
	padding: 10px;
}
@media (max-width: 373px) {
	.telega__bot {
	font-family: lobster;
	font-size: 10px;
	line-height: 45px;
	background: #FFBF2D;
	border: 3px solid #000000;
	box-sizing: border-box;
	border-radius: 45px;
	margin-left: 30px;
	color: inherit;
	padding: 10px;
}

}
.telega__bot:hover {
	border: 5px solid #000;
	box-sizing: border-box;
	border-radius: 45px;
}